.topwrapper
  .heder-container
    %h1 NomadCafe
    %i.fa.fa-coffee
    %span.toptext ノマドワークに適した wifi・電源フリー のお店をご案内します
    %p.toptext-eng We will guide you to wifi and power-free Cafes suitable "for nomad work"
    .hedaer-box
      .hedaer-innner
      .user-sessions-form
        .blankspace
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .field
            = f.label :ニックネーム
            %br/
            = f.text_field :nickname, class:'nickname', placeholder:"nickname", autofocus: true
          .field
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} 文字以上)
            %br/
            = f.password_field :password, class:'password', placeholder:"passward",  autocomplete: "new-password"
          .field
            = f.label :パスワード（再確認）
            %br/
            = f.password_field :password_confirmation, class:'password_confirmation', placeholder:"password_confirmation", autocomplete: "new-password"
          .actions
            = f.submit "sign up",class:"sessions-btn"
      .back-to
        = link_to root_path, class: 'back-to-btn' do
          %span もどる<br>Go back to previous page
