.topwrapper
  .background-signout
    .explanationbox
      .top-title
        NomadCafe
        %br
      .explanation
        ノマドワークに適した、wifi・電源フリーのお店をすぐにご案内します。


      .user-sessions-form
        -# %span.title サ イ ン ア ッ プ
        .blankspace
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          -# = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :ニックネーム
            %br/
            = f.text_field :nickname, class:'nickname', autofocus: true
          .field
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} 文字以上)
            %br/
            = f.password_field :password, class:'password', autocomplete: "new-password"
          .field
            = f.label :パスワード（再確認）
            %br/
            = f.password_field :password_confirmation, class:'password_confirmation',  autocomplete: "new-password"
          .actions
            = f.submit "登録して利用する", class: "easy-btn"

      
      .back-to
        = link_to root_path, class: 'back-to-btn' do
          %span もどる



      -# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      -#   = render "devise/shared/error_messages", resource: resource
