.indexwrapper
  .background-index
    .googlemap
      #map
    .shop-index
      - @shops.each do |shop|
        .index-link-box
          = link_to  shop_path(shop.id),class: 'index-btn',data: {"turbolinks" => false} do 
            - if shop.evaluation == 0
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate0

            - elsif shop.evaluation == 1
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate1

            - elsif shop.evaluation == 1.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate1.5

            - elsif shop.evaluation == 2
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate2

            - elsif shop.evaluation == 2.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate2.5

            - elsif shop.evaluation == 3
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate3

            - elsif shop.evaluation == 3.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate3-5

            - elsif shop.evaluation == 4
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate4

            - elsif shop.evaluation == 4.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate4-5

            - elsif shop.evaluation == 5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate5

            - else
            -# %i.fa.fa-coffee
            -# %span #{shop.name}<br>#{shop.englishname}
        .edit-box
          - if current_user.nickname == "TEST" && current_user.id == 1
            = link_to '編集', "/shops/#{shop.id}/edit", method: :get, class: 'edit-btn' 
            = link_to '削除', "/shops/#{shop.id}", method: :delete, class: 'destroy-btn',data: {confirm: "削除しますか？"}
          - else
    .blank
    .to-top
      = link_to root_path, class: 'to-top-btn' ,data: {"turbolinks" => false}do
        %span もどる<br>Go back
    .shopnew
      - if current_user.nickname == "TEST" && current_user.id == 1
        = link_to new_shop_path,class: 'shopnew-btn' do
          %span 店舗登録
      - else

















:javascript
      var marker = [];
      var infoWindow = [];
      var markerData = [ 
    {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=エンジニアカフェ&dirflg=w" target="_blank">エンジニアカフェ</a><br><p>Engineer Cafe</p><br><img src="/images/demo10.jpg" width="150" height="100" class=map-img> ',
    lat: 33.593152,
    lng: 130.401884
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=カフェベローチェ&dirflg=w" target="_blank">カフェベローチェ</a><br><p>CAFE VELOCE 1chome</p><br><img src="/assets/demo20.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.592187,
    lng: 130.399474
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=ブックアンドコー&dirflg=w" target="_blank">BOOK & CO.</a><br><p>BOOK & CO.</p><br><img src="/assets/demo30.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.593852,
    lng: 130.39835
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=タリーズ天神店&dirflg=w" target="_blank">タリーズコーヒー天神店</a><br><p>TULLYS COFFEE　Tenjin</p><br><img src="/assets/demo40.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.591618,
    lng: 130.396871
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=タリーズ新天町店&dirflg=w" target="_blank">タリーズコーヒー新天町店</a><br><p>TULLYS COFFEE　Shintencho</p><br><img src="/assets/demo50.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.590074,
    lng: 130.397071
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=スタバ天神VIORO店&dirflg=w" target="_blank">スタバ天神VIORO店</a><br><p>Starbucks Coffee VIORO</p><br><img src="/assets/demo60.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.589645 ,
    lng: 130.398415
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=スタバメディアモール天神&dirflg=w" target="_blank">スタバメディアモール天神</a><br><p>Starbucks Coffee MediaMallTenjin</p><br><img src="/assets/demo70.jpg" width="150" height="100" class=map-img> ',
    lat: 33.590907,
    lng: 130.400564
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=コメダ天神南店&dirflg=w" target="_blank">コメダ天神南店</a><br><p>KOMEDA Coffe SouthTenjin</p><br><img src="/assets/demo80.jpg" width="150" height="100" class=map-img> ',
    lat: 33.589295,
    lng: 130.403634
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=スタバ天神地下街店&dirflg=w" target="_blank">スタバ天神地下街店</a><br><p>Starbucks Coffee Underground</p><br><img src="/assets/demo90.jpg" width="150" height="100" class=map-img> ',
    lat: 33.588061,
    lng: 130.401138
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=マクドナルド新天町店&dirflg=w" target="_blank">マクドナルド新天町店</a><br><p> McDonalds Shintencho</p><br><img src="/assets/demo100.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.590196,
    lng: 130.398294
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=VITO中洲ゲイツ店&dirflg=w" target="_blank">VITO中洲ゲイツ店</a><br><p>VITO Coffe NakasuGates</p><br><img src="/assets/demo110.jpg" width="150" height="100" class=map-img> ',
    lat: 33.593775,
    lng: 130.406223
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=CaféMealMUJI&dirflg=w" target="_blank">Café&Meal MUJI</a><br><br><p>Café&Meal MUJI</p><br><img src="/assets/demo120.jpg" width="150" height="100" class=map-img> ',
    lat: 33.587337,
    lng: 130.396749
    },  {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=スタバ天神西通店&dirflg=w" target="_blank">スタバ天神西通店</a><br><p>Starbucks Coffee WestStreet</p><br><img src="/assets/demo130.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.587888,
    lng: 130.396641
    }, {
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=スタートアップカフェ&dirflg=w" target="_blank">スタートアップカフェ</a><br><p>Startup Cafe</p><br><img src="/assets/demo140.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.589162,
    lng: 130.395307
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=タリーズコーヒー西鉄天神駅店&dirflg=w" target="_blank">タリーズコーヒー西鉄天神駅店</a><br><p>TULLYS COFFEE　Tenjin.sta</p><br><img src="/assets/demo150.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.589917,
    lng: 130.398976
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=レックコーヒー天神店&dirflg=w" target="_blank">レックコーヒー天神店</a><br><p>Rec Coffe Tenjin</p><br><img src="/assets/demo160.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.587336,
    lng: 130.398705
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=グランドミラージュカフェ&dirflg=w" target="_blank">グランドミラージュカフェ</a><br><p>GRAND MIRAGE Cafe</p><br><img src="/assets/demo170.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.586168,
    lng: 130.398790
    },{
    name: '<a href="https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=上島珈琲店天神地下街店&dirflg=w" target="_blank">上島珈琲店 天神地下街店</a><br><p>Ueshima Coffe TenjinUnderground</p><br><img src="/assets/demo180.jpg" width="150" height="100" class=map-img>  ',
    lat: 33.592261,
    lng: 130.398746
    }
    ];
     //==================マーカー配列記述終わり==============
     //==================現在地取得とその情報での地図表示の記述===================
  function initMap() {

        var mymapOptions = {
          zoom : 17,                 // 拡大倍率
          center : { lat: 33.588689,lng: 130.399967 },     // myLatLng, // 緯度・経度　SSL化までは使わない
          maxZoom:20,                // 最大ズームの設定
          minZoom: 15,               // 最小ズームの設定
          scaleControl:true,         // 距離スケール表示
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
                                            // マップオブジェクト作成
        var map = new google.maps.Map(
          document.getElementById("map"),   // マップを表示する要素
          mymapOptions                      // マップオプション
        );
         // ========== 以下が現在位置Circleのコード ==========
    circleOptions = {
      center :{ lat: 33.588689,lng: 130.399967 }, // myLatLng,  // 緯度・経度
      clickable: true,          // クリックできるようにする
      draggable: false,         // ドラッグできないようにする
      zIndex:5,                 // 前面表示の度合い
      radius: 200,              // 半径メートル
      map: map,                 // 表示先の地図の種類
      strokeColor: 'blue',       // 線の色
      strokeOpacity: 0.2,       // 色の透過率
      strokeWeight: 1,          // 線の太さ
      fillColor: 'blue',        // 円の色
      fillOpacity: 0.10         // 色の透過率
      },
    circle = new google.maps.Circle(circleOptions);  //上記の設定を変数circleに代入
      //================ここからマーカ配列の表示コード==============
        for (var i = 0; i < markerData.length; i++) {
          markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']}); 
          marker[i] = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map,                 // 表示先の地図の種類
            animation: google.maps.Animation.DROP,   // アイコンの動き DROP BOUNCE
            clickable: true,          // クリックできるようにする
            draggable: true,         // ドラッグできないようにする
            zIndex:5,                 // 前面表示の度合い
            });
            infoWindow[i] = new google.maps.InfoWindow({ 
              content: "<p style='width:auto;  text-decoration: none; font-size:10px; text-align:center;'>"
                + markerData[i]['name'] + '</div>' 
            });
            markerEvent(i); 
        }
        function markerEvent(i) {
          marker[i].addListener('click', function() { 
          infoWindow[i].open(map, marker[i]); 
          });
        }
     }

        //%script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.googlemap[:MAP_SECRET_KEY]}&callback=initMap"}
%script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_SECRET_KEY']}&callback=initMap"}


  :cdata

