.indexwrapper
  .background-index
    .googlemap
      #map
    .shop-index
      - @shops.each do |shop|
        .index-link-box
          = link_to  shop_path(shop.id),class: 'index-btn',data: {"turbolinks" => false} do 
            - if shop.evaluation == 0
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate0

            - elsif shop.evaluation == 1
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate1

            - elsif shop.evaluation == 1.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate1.5

            - elsif shop.evaluation == 2
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate2

            - elsif shop.evaluation == 2.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate2.5

            - elsif shop.evaluation == 3
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate3

            - elsif shop.evaluation == 3.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate3-5

            - elsif shop.evaluation == 4
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate4

            - elsif shop.evaluation == 4.5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate4-5

            - elsif shop.evaluation == 5
              %span.shopname #{shop.name}&emsp;#{shop.englishname}<br>
              = image_tag shop.images[0].src ,class:"indexbtn-image"
              %span.rate.rate5

            - else
            -# %i.fa.fa-coffee
            -# %span #{shop.name}<br>#{shop.englishname}
        .edit-box
          - if current_user.nickname == "TEST" && current_user.id == 1
            = link_to '編集', "/shops/#{shop.id}/edit", method: :get, class: 'edit-btn' 
            = link_to '削除', "/shops/#{shop.id}", method: :delete, class: 'destroy-btn',data: {confirm: "削除しますか？"}
          - else
    .blank
    .to-top
      = link_to root_path, class: 'to-top-btn' ,data: {"turbolinks" => false}do
        %span もどる<br>Go back
    .shopnew
      - if current_user.nickname == "TEST" && current_user.id == 1
        = link_to new_shop_path,class: 'shopnew-btn' do
          %span 店舗登録
      - else








:javascript
  function initMap() {
        // Geolocation APIに対応している
        if (navigator.geolocation) {
          // 現在地を取得
          navigator.geolocation.getCurrentPosition(
            // 取得成功した場合
            function(position) {
              // 緯度・経度を変数に格納
              var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              // マップオプションを変数に格納
              var mapOptions = {
                zoom : 15,          // 拡大倍率
                center : mapLatLng  // 緯度・経度
              };
              // マップオブジェクト作成
              var map = new google.maps.Map(
                document.getElementById("map"), // マップを表示する要素
                mapOptions         // マップオプション
              );
              //　マップにマーカーを表示する
              var marker = new google.maps.Marker({
                map : map,             // 対象の地図オブジェクト
                position : mapLatLng   // 緯度・経度
              });
            },
            // 取得失敗した場合
            function(error) {
              // エラーメッセージを表示
              switch(error.code) {
                case 1: // PERMISSION_DENIED
                  alert("位置情報の利用が許可されていません");
                  break;
                case 2: // POSITION_UNAVAILABLE
                  alert("現在位置が取得できませんでした");
                  break;
                case 3: // TIMEOUT
                  alert("タイムアウトになりました");
                  break;
                default:
                  alert("その他のエラー(エラーコード:"+error.code+")");
                  break;
              }
            }
          );
        // Geolocation APIに対応していない
        } else {
          alert("この端末では位置情報が取得できません");
        }
      }
%script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_SECRET_KEY']}&callback=initMap"}


  :cdata

