.indexwrapper
  .background-index
    .googlemap
      %script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.googlemap[:MAP_SECRET_KEY]}&callback=initMap"}
      #map
      :javascript
      %body
        %script{:src => "map.js"}


    .shop-index
      - @shops.each do |shop|
        .index-link-box
          = link_to  shop_path(shop.id),class: 'index-btn',data: {"turbolinks" => false} do
            %i.fa.fa-coffee
            %span #{shop.name}
        .edit-box
          - if current_user.nickname == "TEST" && current_user.id == 1
            = link_to '編集', "/shops/#{shop.id}/edit", method: :get, class: 'edit-btn' 
            = link_to '削除', "/shops/#{shop.id}", method: :delete, class: 'destroy-btn',data: {confirm: "削除しますか？"}
          - else

    .blank
    .to-top
      = link_to root_path, class: 'to-top-btn' ,data: {"turbolinks" => false}do
        %span もどる
    .shopnew
      - if current_user.nickname == "TEST" && current_user.id == 1
        = link_to new_shop_path,class: 'shopnew-btn' do
          %span 店舗登録
      - else