.indexwrapper
  .shopnew-container
    = form_with(model: @shop, local: true) do |f|

      = f.text_field :name, placeholder: "お店の名前"
      = f.text_field :address, placeholder: "住所"
      = f.text_field :mood, placeholder: "雰囲気"
      = f.text_field :price, placeholder: "料金"
      = f.text_field :power, placeholder: "電源"
      = f.text_field :open_time, placeholder: "開店時刻"
      = f.text_field :close_time, placeholder: "閉店時刻"
      = f.text_field :holiday, placeholder: "定休日"
      = f.number_field :latitude, placeholder: "緯度"
      = f.number_field :longitude, placeholder: "経度"
      = f.submit "SEND"
