-# .indexwrapper
.topwrapper
  .background-shop-new
    .top-title
      お店を登録する
      %br
    .explanation
      （./bin/rake db:seed_fu    db/fixtures/01_shop.rbの追記も忘れずに。）
    .shopnew-container
      = form_with(model: @shop, local: true) do |f|
        %ul.shop-new-form
          %li
            = f.fields_for :images do |c|
              = c.label :image
              = c.file_field :image, multiple: true
          %li.name
            = f.text_field :name,class:'name', placeholder: "お店の名前"
          %li.address
            = f.text_field :address, class:'address',placeholder: "住所"
          %li.mood
            = f.text_field :mood, class:'mood',placeholder: "雰囲気"
          %li.price
            = f.text_field :price, class:'price',placeholder: "料金"
          %li.power
            = f.text_field :power, class:'power',placeholder: "電源"
          %li.open_time
            = f.text_field :open_time, class:'open_time',placeholder: "開店時刻"
          %li.close_time
            = f.text_field :close_time, class:'close_time',placeholder: "閉店時刻"
          %li.holiday
            = f.text_field :holiday, class:'holiday',placeholder: "定休日"
          %li.latitude
            = f.number_field :latitude,class:'latitude', placeholder: "緯度",:step => 0.0000001
          %li.longitude
            = f.number_field :longitude,class:'longitude', placeholder: "経度",:step => 0.0000001
          %li
            = f.submit "SEND"
      .geocoding-link
        = link_to "https://www.geocoding.jp/",:target => "_blank", class: 'geocoding-btn' do 
          %span 緯度経度を検索
      .back
        = link_to shops_path, class: 'totop-btn' do
          %span もどる
