
.indexwrapper
  .background-show
    .googlemap
      #map-02
      .shop-summary
        .summary-background
          .shop-name
            = @shop.name
          %table
            %tr
              %th 料 金
              %td
                = @shop.price
            %tr
              %th 電 源
              %td.show
                = @shop.power
            %tr
              %th 雰 囲 気
              %td
                = @shop.mood
            %tr
              %th 開 店 
              %td
                = @shop.open_time
            %tr
              %th 閉 店 
              %td
                = @shop.close_time
            %tr
              %th 定 休 日
              %td
                = @shop.holiday

          .comment-title -----------------------＜ 口 コ ミ ＞-----------------------
          .comments-container
            .comments-index
              - if @comments
                - @comments.each do |comment|
                  .comment-innner
                    %p.comment-name
                      < #{comment.user.nickname} >さん
                      ：
                    = comment.text
                    - if current_user.id == comment.user.id
                      =link_to "→削除する", shop_comment_path(comment.shop.id, comment.id), method: :delete, class: "comment-del-btn"

        .mapnavi
          = link_to  "https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=#{@shop.name}&dirflg=w", :target => "_blank", class: 'return-btn' do
            %i.fa.fa-map-marked-alt
            %span ナビ開始
          -# %a{:href => "https://maps.google.com/maps?saddr=33.588689,130.399967&daddr=#{@shop.name}&dirflg=w", :target => "_blank"} ナビする


        .hidden-visible-btn
          %input.visible{:name => "xxx", :type => "radio", :value => "sss"}/
          コメント（口コミ）してみる!
          %html(lang="en")
            %head
              %meta(charset="UTF-8")/
              %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
              %title Document
            %body
          .comments-form
            = form_with(model:[@shop, Comment.new],local: true) do |form|
              .comment-text
                = form.text_area :text,class: "text_area", placeholder: "口コミを書く",rows: "3"
              .comment-submit
                = form.submit "送信",class: "comment-btn"

  
        .shop-photo
          %figure.shop-img
          - @shop.images.each do |image|
            = image_tag image.src, :size =>'1400x1950', class: 'shop-image'
        .blank
        .return 
          = link_to shops_path, class: 'return-btn' ,data: {"turbolinks" => false} do
            %span もどる




-# --------------------------------------------------------------

:javascript
  function initMap() {

  var test = {lat: #{@shop.latitude}, lng: #{@shop.longitude}};
 
    var myOptions = {
        zoom: 19,
        center: test,
        mapTypeId: google.maps.MapTypeId.HYBRID
    };
    var map_02 = new google.maps.Map(
        document.getElementById("map-02"),  //二つ目の地図のIDを指定
        myOptions
    );
    var contentString = '住所：#{@shop.address}';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker_02 = new google.maps.Marker({
        position: test,
        map: map_02,
        animation: google.maps.Animation.DROP,   // アイコンの動き DROP BOUNCE
        clickable: true,          // クリックできるようにする
        draggable: false,         // ドラッグできないようにする
        zIndex:5,                 // 前面表示の度合い
    });

    var infowindow = new google.maps.InfoWindow({
        content: '#{@shop.name}<br>#{@shop.englishname}'
    });
    infowindow.open(map_02, marker_02);

    var circle = new google.maps.Circle({
      map: map_02 ,
      center: test,
      clickable: true,          // クリックできるようにする
      draggable: false,         // ドラッグできないようにする
      zIndex:5,                 // 前面表示の度合い
      radius: 100,              // 半径メートル
      strokeColor: 'blue',       // 線の色
      strokeOpacity: 0.2,       // 色の透過率
      strokeWeight: 1,          // 線の太さ
      fillColor: 'blue',        // 円の色
      fillOpacity: 0.10         // 色の透過率
    });

  }
%script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.googlemap[:MAP_SECRET_KEY]}&callback=initMap"}

  :cdata